<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>
    Welcome
    {{#if username}}
      {{username}}
    {{else}}
      Guest
    {{/if}}
  </title>
  <link rel="stylesheet" media="all" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: {{#if bg_color}}#{{bg_color}}{{else}}#eee{{/if}};
    }
    form,
    .cat,
    main,
    .colors,
    h3 {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .cat {
      display: flex;
    }
    .cat img {
      width: 50%;
      height: 50%;
    }
    .colors {
      font-weight: bold;
    }
    .form-signin .form-signin-heading{
      margin-bottom: 10px;
    }
    .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"],
    #inputTitle {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"],
    #inputBody {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3>Welcome
      {{#if username}}
        {{{username}}} <small>(<a href="/logout" aria-label="logout" title="logout">X</a>)</small>
      {{else}}
        Guest
      {{/if}}
    </h2>

    {{#if msg}}<main><small>{{msg}}</small></main>{{/if}}

    {{#if username}}
      {{#if is_admin}}
        <div class="cat">
          <img class="cat" src="bday.gif" />
        </div>
      {{/if}}
      <form class="form-signin" method="POST" action="/posts" _lpchecked="1">
        <h2 class="form-signin-heading">Create new post</h2>
        <label for="inputTitle" class="sr-only">Title</label>
        <input type="text" id="inputTitle" name="inputTitle" class="form-control" placeholder="A title" required="" autofocus="" autocomplete="off">
        <label for="inputBody" class="sr-only">Body</label>
        <textarea type="text" id="inputBody" name="inputBody" class="form-control" placeholder="Post body" required="" autocomplete="off"></textarea>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
      </form>
    {{else}}
      <form class="form-signin" method="POST" action="/" _lpchecked="1">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="off">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="off">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      <div class="colors">
        <h4>BG COLOR: {{#if bg_color}}#{{{bg_color}}}{{else}}#eee{{/if}}</h4>
        <span><a href="/?bg=eef" style='color: #eef; background-color: #333;'>Light Blue</a></span>
        <span><a href="/?bg=eee" style='color: #eee; background-color: #333;'>Light Grey</a></span>
      </div>
    {{/if}}
    <main>
      <div class"posts">
        <h1>Posts</h1>
        {{#each posts}}
          <article>
            <h3>{{title}}</h3>
            <div>{{{body}}}</div>
            <div>Claps:{{claps}}</div>
          </article>
        {{/each}}
      </div>
    </main>
  </div>
<script async href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
  function clap() {
    fetch('localhost:3000/clap').then((claps) => {
      console.log("claps:"+claps)
    }).catch((err) => {
      console.log(err.message)
    })
  }
</script>
</body>
</html>
