<div class="row mt-4">
  <div class="col-lg-6">
    <img class="img-fluid w-100 rounded mb-3" src="{{event.imgUrl}}" alt="Card image cap">
    <h3>{{event.title}}</h3>
    <div class="lead">{{event.desc}}</div>

    <div class="text-right">
      <a href="/events/{{event.id}}/edit">Edit</a>
    </div>

    <p class='mt-4'>
      <b>Comments</b>
    </p>
    <form action="/events/{{event.id}}/comments" method="post">
      <div class="form-group">
        <textarea name="body" class="form-control" placeholder="140 characters max"></textarea>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary" name="button">Save</button>
      </div>
    </form>

    <div class="list-group mt-4">
      {{#each comments}}
        <div class="list-group-item clearfix">
          <div class="float-left">
            {{this.body}}
          </div>
          <div class="float-right">
            <form class="form-inline" action="/events/{{../event.id}}/comments/{{this.id}}?_method=DELETE" method="post">
              <button type="submit" class="btn btn-link btn-sm">Remove</button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="col-lg-4 offset-lg-1">
    <div class="d-flex justify-content-between">
      <b>RSVPs ({{rsvps.length}})</b>
      <a href="/events/{{event.id}}/rsvps/new" class="btn btn-primary btn-sm">RSVP</a>
    </div>

    <div class="list-group mt-4">
      {{#each rsvps}}
        <div class="list-group-item clearfix">
          <div class="float-left">
            {{this.name}}
          </div>
          <div class="float-right">
            <form class="form-inline" action="/events/{{../event.id}}/rsvps/{{this.id}}?_method=DELETE" method="post">
              <button type="submit" class="btn btn-link btn-sm">Remove</button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
